#mainContainer
{
    background-image: url('./../../img/bg_dkt.png') !important;
    background-repeat: no-repeat;
    background-position: 0%;
    background-size: cover;
}

@media only screen and (max-width: 991px)
{
    #mainContainer
    {
        background-image: url('./../../img/bg_mob.png') !important;
        background-repeat: no-repeat;
        background-position: 0%;
        background-size: cover;
    }
}

#containerSecundary
{
    padding-top: 20px;
    padding-bottom: 20px;
}

#formContainer
{
    padding: 80px 30px;
    background: rgba(255, 255, 255, 1);
    border-radius: 50px;
}

#formTitle
{
    text-align: center;
    font-weight: bold;
    font-size: 300%;
    letter-spacing: 2px;
    color: rgb( 20, 28, 80);
    height: 100%;
}

.formLabel
{
    color: rgb( 20, 28, 80);
}

.formInputContainer
{
    margin-top: 30px;
}

input, select
{
    border-radius: 15px;
    padding: 10px 4px;
    border-color: rgb( 20, 28, 80);
    border-top: none;
    border-right: none;
    color: rgb( 20, 28, 80);
    width: 100%;
}

/* container resultado */
#txt_secao1
{
    line-height: 50px;
}
#txt_conheca
{
    font-size: 300%;
}
#txt_faleMais
{
    font-size: 500%;
}
#txt_secao2
{
    font-size: 120%;
}
#resultadoContainer
{
    padding: 40px 20px;
    color: rgb( 20, 28, 80);
    /* display: none; */
}

#containerValores
{
    display: none;
}

#containerBigLegend
{
    height: 179px;
}
.bigLegend
{
    font-size: 120px;
    font-weight: bolder;
    color: rgb( 20, 28, 80);
    animation: deCresce infinite 1.5s;
}
@keyframes deCresce
{
    0% { font-size: 100px; }
    50% { font-size: 120px; }
    100% { font-size: 100px; }
}
.smallLegend
{
    font-size: 20px;
    font-weight: bolder;
    background:rgb( 44, 116, 235 );
    padding: 5px 10px;
    border-radius: 100px;
}
.medioLegend
{
    font-size: 80px;
    font-weight: bolder;
    color: rgb( 20, 28, 80);
}