#principalContainer
{
    display: flex;
    justify-content: center;
    align-items: center;
}

#containerSecundary
{
    padding-top: 20px;
    padding-bottom: 20px;
}

#formContainer
{
    background: #A3FFAF;
    padding: 10px 10px 75px 10px;
}

#formTitle
{
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
    color: rgb(61,230,86);
    height: 100%;
}

.formLabel
{
    color: rgb(61,230,86);
}

.formInputContainer
{
    margin-top: 30px;
}

input, select
{
    border-radius: 10px;
    padding: 10px 4px;
    border-color: rgb(61,230,86);
    border-top: none;
    border-right: none;
    color: rgb(61,230,86);
    width: 100%;
}

#resultadoContainer
{
    background: #41FF5A;
    padding: 80px 20px;
    display: none;
}

#containerBigLegend
{
    height: 179px;
}
.bigLegend
{
    font-size: 120px;
    font-weight: bolder;
    color: green;
    animation: deCresce infinite 1.5s;
}
@keyframes deCresce
{
    0% { font-size: 100px; }
    50% { font-size: 120px; }
    100% { font-size: 100px; }
}
.smallLegend
{
    font-size: 20px;
}
.medioLegend
{
    font-size: 80px;
    font-weight: bolder;
    color: rgba(0,0,0, 0.2);
}